 section
        .row.justify-content-center
          .col-md-8
            h1.text-center.mb-4
              b 1.
              |  Hoşgeldiniz, hazırsanız başlayalım.
            p.text-center#question
            .input-group.input-group-sm.mb-3
              input.form-control(aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Cevap")
            .d-flex.justify-content-between
              button.btn.btn-primary(onclick="") Sonraki
              button.btn.btn-primary Test Et